.rightMenu{
  max-width: 430px;
  .carts{
    background: linear-gradient(0deg, rgba(28, 29, 31, 0.5), rgba(28, 29, 31, 0.5)), linear-gradient(0deg, #2B2B2B, #2B2B2B);
    .title {
      font-family: Roboto;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      padding: 18px 20px;
      color: rgba(255, 255, 255, 1);
    }
  }
  .carousel{
    margin-top: 30px;
    .title{
      border: 1px solid rgba(43, 43, 43, 1);
      font-family: Roboto;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      padding: 18px 20px;
      color: white;
      background-color: #212121;
    }
    .img{
      width: 100%;
    }
  }
}
