@import "styles/ImportedStyles/all";

.header{
  padding: 30px 0;
  display: flex;
  align-items: center;justify-content: space-between;
  background-color: $color-darkGrey;
  .image{
    width: 157px;
    height: 94px;
  }
  .input{
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-color: rgba(37, 42, 44, 1);
    padding: 30px 22px;
    border-radius: 93px;
    color: #ffffff;
    width: 720px;
    border: 2px solid rgba(37, 42, 44, 1)
  }
}
