.about{
  color: white;
    display: flex;
    align-items: flex-start;
    margin-bottom: 140px;
    .image_block{
      max-width: 430px;
      margin-right: 30px;
      .ratings{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 60px;
        background-color: #1A1A1B;
        margin-top: 20px;
        .rating{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 121px;
          width: 121px;
          border-radius: 50%;
          border: 4px solid #FF8900;
          margin-right: 65px;
          .title{
            font-family: Roboto;
            font-size: 28px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0px;
            text-align: center;
            color: white;
            margin-bottom: 3px;
          }
          .name{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: center;
            color: rgba(255, 255, 255, 1);

          }
        }
        .rating:last-child{
          margin-right: 0px;
        }
      }
    }
    .content{
      .title{
        font-family: Roboto;
        font-size: 40px;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 15px;
      }
      .subtitle{
        font-family: Roboto;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 30px;
      }
      .some_info{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        background: linear-gradient(0deg, #212121, #212121), linear-gradient(0deg, #2B2B2B, #2B2B2B);
        border: 1px solid rgba(43, 43, 43, 1);
        border-radius: 5px;
        .element{
          margin: 0px 30px;
          .title{
            font-family: Roboto;
            font-size: 20px !important;
            font-weight: 700;
            line-height: 23px !important;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 10px !important;
          }
          .text{
            margin-bottom: 0px;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: left;

          }
        }
      }
      .many_info{
        border: 1px solid rgba(43, 43, 43, 1);
        border-radius: 5px;
        margin-top: 20px;
        box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(0deg, rgba(28, 29, 31, 0.5), rgba(28, 29, 31, 0.5)), linear-gradient(0deg, #2B2B2B, #2B2B2B);
        .line{
          border: 1px solid rgba(43, 43, 43, 1);
          display: flex;
          align-items: center;
          padding: 15px 20px;
          .title{
            font-family: Roboto;
            font-size: 18px !important;
            font-weight: 700;
            line-height: 21px !important;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 0px !important;
            width: 250px;
          }
          .text{
            font-family: Roboto;
            font-size: 18px !important;
            font-weight: 400;
            line-height: 21px !important;
            margin-bottom: 0px !important;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
      .about_film{
        border: 1px solid rgba(43, 43, 43, 1);
        background: linear-gradient(0deg, rgba(28, 29, 31, 0.5), rgba(28, 29, 31, 0.5)), linear-gradient(0deg, #2B2B2B, #2B2B2B);
        box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
        padding: 20px 20px 30px 20px;
        margin-top: 20px;
        border-radius: 5px;
        .title{
          font-family: Roboto;
          font-size: 22px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 15px;
        }
        .text{
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 0px;
          .paragraph{
            margin-bottom: 15px;
          }
          .more{
            color: rgba(129, 190, 203, 1);
            text-align: right;
            margin-top: 5px;
          }
        }
      }
      .actors{}
    }
}
