body {
  font-family: 'Red Hat Display', sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

@import "ImportedStyles/variables";

.wrapper{
  background-image: url("../public/images/img/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-black;
  max-width: 100vw;
}

.container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto;
}
