.header{
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(43, 43, 43, 1);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #2B2B2B, #2B2B2B);
  background-image: url("./../../public/images/img/Rectangle_2.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  .title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    padding: 20px;
    color: white;
    background: rgba(22, 26, 25, 0.35);
    span{
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0px;
      text-align: left;
    }
  }
  .slider{
    padding: 47px 93px 72px 93px  ;
    .text_slider{
      font-family: Philosopher;
      font-size: 65px;
      font-weight: 700;
      line-height: 67px;
      letter-spacing: 0px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      max-width: 350px;
    }
  }
}
